
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-instagram{
    background:tomato;
    color: white;

}  
.fa-google{
    background: blue;
    color: white
}
.fa-youtube{
    background: red;
    color: white;
}
.contact{
  text-align: center;
  background-image:url(/images/contact_image.jpg);
  height: 100vh;
  padding-bottom: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
 
}

input{
  background-color: transparent;
  width: 40%;
}
#message{
  height: 20vh;
  width: 40%;
}

.caption {
    padding-bottom: 2%;
    color: 5px 5px solid green;
    text-shadow: 5px 5px  5px black;
}
nav{
    position: sticky;
}
.image1 {
    margin-top: 10px;
    text-align: center;
}

.image2 {
    margin-top: 10px;
    text-align: center;
}

h4 {
    font-size: 70px;
    font-style: italic;
    color: black;
    margin-top: 30px;
    color: maroon;
    }

.image3 {
    text-align: center;
}

.image4 {
    text-align: center;
    margin-top: 10px;
}

.image5 {
    margin-top: 10px;
    text-align: center;
}

.image6 {
    margin-top: 10px;
    text-align: center;
}

.image7 {
    margin-top: 10px;
    text-align: center;
}

.image8 {
    margin-top: 10px;
    text-align: center;
}

.image9 {
    margin-top: 10px;
    text-align: center;
}

.image10 {
    margin-top: 10px;
    text-align: center;
}

.market {
    /* background-color: green; */
}


