
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-instagram{
    background:tomato;
    color: white;

}  
.fa-google{
    background: blue;
    color: white
}
.fa-youtube{
    background: red;
    color: white;
}
.contact{
  text-align: center;
  background-image:url(/images/contact_image.jpg);
  height: 100vh;
  padding-bottom: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
 
}

input{
  background-color: transparent;
  width: 40%;
}
#message{
  height: 20vh;
  width: 40%;
}